Libraries Imported:
------------------
from flask import Flask, render_template, request
from pathlib import Path
from werkzeug.utils import secure_filename
import zipfile
import glob, os

Libraries to be installed:
-------------------------
1. pip install Flask
2. pip install zipFile
