<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title>360&deg; Image</title>
<meta name='description' content='360&deg; Image - A-Frame'>
<!--<script src='https://aframe.io/releases/0.8.0/aframe.min.js'></script>-->
<script src='https://aframe.io/releases/0.6.0/aframe.min.js'></script>
<script src='https://npmcdn.com/aframe-animation-component@3.0.1'></script>
<script src='https://npmcdn.com/aframe-event-set-component@3.0.1'></script>
<script src='https://npmcdn.com/aframe-layout-component@3.0.1'></script>
<script src='https://npmcdn.com/aframe-template-component@3.1.1'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='static/assignImageObject.js' type='text/javascript'></script>
<script src='static/setImage.js' type='text/javascript'></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>


    <script type=text/javascript>
        $(function() {
            $('a#message').bind('click', function() {
            console.log('I am here!');
             var href = this.href;
             var download = this.download;
            event.preventDefault();
            window.location = href;
            console.log('download='+download);
            console.log('href='+href)
            console.log($('input[name="grid_location"]').val());
            setTimeout(function () {
                $.ajax('/', { data: { path: $('input[name="grid_location"]').val(), submit_button: 'delete' },
                    type: "POST",
                    error: function() {
                        alert("error");
                    },
                    success: function(data) {
                        window.location = $('a#redirect_home').attr('href');
                    }
                });
            return false;
            },5000);
          });
        });

</script>

</head>
<body onload='loadImages({{numberOfRows}},{{numberOfCol}},{{path|tojson}},{{image_type|tojson}},{{is_file_ready|tojson}}, {{ file_location|tojson }})'>
<a id="redirect_home" href="{{ url_for('web_vr_page') }}" style="display:none"></a>


<style>
#EmbeddedScene {
height:600px;
}
input[readonly='readonly'] {
      background-color: rgb(235, 235, 228);
}
</style>
<br>
<div class="row">
    <div class="container">
    <ul class=flashes>
      <div class="alert alert-{{ category }}">{{ html_to_display | safe }}</div>
    </ul>
</div>
</div>
<br>
<div class="row">
    <div class="col-sm">
  <div id="EmbeddedScene">
<a-scene embedded="">

  <a-assets>
    <img id='arrow-thumb' crossorigin='anonymous' src='static/arrow.png'>
    <img id='this-image' crossorigin='anonymous' >

    <audio id='click-sound' crossorigin='anonymous' src='https://cdn.aframe.io/360-image-gallery-boilerplate/audio/click.ogg'></audio>

    <!-- Image link template to be reused. -->
    <script id='link' type='text/html'>
      <a-entity class='link'
        geometry='primitive: plane; height: 0.5; width: 1'
        material='shader: flat; src: ${thumb}; alphaTest: 0.5; opacity: 0.6'
        event-set__1='_event: mousedown; scale: 1 1 1'
        event-set__2='_event: mouseup; scale: 1.2 1.2 1'
        event-set__3='_event: mouseenter; scale: 1.2 1.2 1'
        event-set__4='_event: mouseleave; scale: 1 1 1'
        set-image='on: click; target: #image-current; src: ${src}'
        sound='on: click; src: #click-sound'></a-entity>
    </script>
  </a-assets>

<a-sky id='image-current' src='#this-image'></a-sky>

<!-- Image links. -->
 <a-entity id='goRightLink' layout='type: line; margin: 1.5' position='6 -1.2 0' rotation='0 270 0' scale='' visible='visible'>
  <a-entity template='src: #link' data-src='#arrow-right' data-thumb='#arrow-thumb'  >
      <a-entity class='link' geometry='primitive: plane; height: 0.5; width: 1' material='shader: flat; src: #arrow-thumb; alphaTest: 0.5; opacity: 0.6' event-set__1='_event: mousedown; scale: 1 1 1' event-set__2='_event: mouseup; scale: 1.2 1.2 1' event-set__3='_event: mouseenter; scale: 1.2 1.2 1' event-set__4='_event: mouseleave; scale: 1 1 1' set-image='on: click; target: #image-current; src: #arrow-right' sound='on: click; src: #click-sound'  ></a-entity>
  </a-entity>
</a-entity>
<a-entity id='goLeftLink' layout='type: line; margin: 1.5' position='-6 -1.2 0' rotation='0 90 0' scale='' visible=''>
    <a-entity template='src: #link' data-src='#arrow-left' data-thumb='#arrow-thumb'  >
        <a-entity class='link' geometry='primitive: plane; height: 0.5; width: 1' material='shader: flat; src: #arrow-thumb; alphaTest: 0.5; opacity: 0.6' event-set__1='_event: mousedown; scale: 1 1 1' event-set__2='_event: mouseup; scale: 1.2 1.2 1' event-set__3='_event: mouseenter; scale: 1.2 1.2 1' event-set__4='_event: mouseleave; scale: 1 1 1' set-image='on: click; target: #image-current; src: #arrow-left' sound='on: click; src: #click-sound'  ></a-entity>
    </a-entity>
  </a-entity>
  <a-entity id='goForwardLink' layout='type: line; margin: 1.5' position='0 -1.2 -6' rotation='0 0 0' visible='' scale=''>
    <a-entity template='src: #link' data-src='#arrow-forward' data-thumb='#arrow-thumb'  >
        <a-entity class='link' geometry='primitive: plane; height: 0.5; width: 1' material='shader: flat; src: #arrow-thumb; alphaTest: 0.5; opacity: 0.6' event-set__1='_event: mousedown; scale: 1 1 1' event-set__2='_event: mouseup; scale: 1.2 1.2 1' event-set__3='_event: mouseenter; scale: 1.2 1.2 1' event-set__4='_event: mouseleave; scale: 1 1 1' set-image='on: click; target: #image-current; src: #arrow-forward' sound='on: click; src: #click-sound'  ></a-entity>
    </a-entity>
  </a-entity>
  <a-entity id='goBackwardLink' layout='type: line; margin: 1.5' position='0 -1.2 6' rotation='0 180 0' visible='visible' scale=''>
    <a-entity template='src: #link' data-src='#arrow-backward' data-thumb='#arrow-thumb'  >
        <a-entity class='link' geometry='primitive: plane; height: 0.5; width: 1' material='shader: flat; src: #arrow-thumb; alphaTest: 0.5; opacity: 0.6' event-set__1='_event: mousedown; scale: 1 1 1' event-set__2='_event: mouseup; scale: 1.2 1.2 1' event-set__3='_event: mouseenter; scale: 1.2 1.2 1' event-set__4='_event: mouseleave; scale: 1 1 1' set-image='on: click; target: #image-current; src: #arrow-backward' sound='on: click; src: #click-sound'  ></a-entity>
    </a-entity>
  </a-entity>
<a-entity camera='' look-controls='' id='camera'  >
    <a-cursor id='cursor' animation__click='property: scale; startEvents: click; from: 0.1 0.1 0.1; to: 1 1 1; dur: 150' animation__fusing='property: fusing; startEvents: fusing; from: 1 1 1; to: 0.1 0.1 0.1; dur: 1500' event-set__1='_event: mouseenter; color: springgreen' event-set__2='_event: mouseleave; color: black' fuse='true' raycaster='objects: .link'   material='' line='' cursor='' geometry=''></a-cursor>
</a-entity>
</a-scene>
  </div>
        </div>
  <div class="col-sm">
      <form method="POST" enctype=multipart/form-data>
<div class="container" style="border:1px solid; padding:10px">
<h2><centre>Your inputs:</centre></h2>
  <div class="row">
      <div class="col-sm">
    <div class="form-group">
        <label for="title">Title:</label><br>
        <input type="text" name="title" id="title" value="{{ request.form.title }}" readonly="readonly"/><br>
    </div>
      </div>
      <div class="col-sm">
    <div class="form-group">
        <label for="email">Email:</label><br>
        <input type="text" name="email" id="email" value="{{ request.form.email }}" readonly="readonly"><br>
    </div>
      </div>
      <div class="col-sm">
    <div class="form-group">
        <label for="file">Upload a photo zip file:</label><br>
        <input type="text" name="grid_location" id="file" required="required" value="{{ path }}" readonly="readonly"><br>
    </div>
      </div>
      </div>
    <div class="row">
        <div class="form-group col-sm">
            <label for="rows">Rows:</label><br>
            <input type="text" name="grid_row" id="rows" required="required" value="{{numberOfRows}}" readonly="readonly"><br>
        </div>
        <div class="form-group col-sm">
            <label for="columns">Columns:</label><br>
            <input type="text" name="grid_column" id="columns" required="required" value="{{numberOfCol}}" readonly="readonly"><br>
        </div>
        <div class="form-group col-sm"></div>
    </div>

    <br><br>
        <input type="submit" name="submit_button" value="Download"> <br><br>
    <!--<button type="submit" id="submit_button" name="submit_button" value="Download" onclick="download_and_delete_zip()">Download</button> <br><br>-->
  </div>
      </form>
  </div>
  </div>

</body>
</html>

