<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Web VR Building Tour</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<style>
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      background-color: #2196F3;
      padding: 10px;
    }
    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 30px;
      text-align: center;
    }
</style>
    <script>
        $( window ).on( "load", function() {
            if(window.location.href.includes('web_vr')) {
                window.location = window.location.href.replace('web_vr','');
            } else {
                /*$.get('/', {
                    path: $('input[name="grid_location"]').val()
                }, function (data, status, jqXHR) {
                }, 'json');*/
            }
        });
    </script>
</head>
<body>

<title>{{ title }}</title>

<form method="POST" enctype=multipart/form-data>
    <br><br>
<div class="container" style="border:1px solid;">
<h2><centre>Create VR tour</centre></h2>
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
</div>
    <div class="row">
    <div class="col-sm">
        <div class="form-group">
            <label for="title">Title:</label><br>
            <input type="text" name="title" id="title" value="{{ title }}"/><br>
        </div>
        <div class="form-group">
            <label for="email">Email:</label><br>
            <input type="text" name="email" id="email" value="{{ email }}"><br>
        </div>
        <div class="form-group">
            <label for="file">Upload a photo zip file:</label><br>
            <input type="file" name="grid_location" id="file" required="required" value="{{ grid_location }}"><br>
        </div>
        <div class="row">
            <div class="form-group col-sm">
                <label for="rows">Rows:</label><br>
                <input type="text" name="grid_row" id="rows" required="required" value="{{ grid_row }}"><br>
            </div>
            <div class="form-group col-sm">
                <label for="columns">Columns:</label><br>
                <input type="text" name="grid_column" id="columns" required="required" value="{{ grid_column }}"><br>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div>Please follow the below path while taking pictures.</div><br>
        <div class="grid-container">
            <div class="grid-item">1</div>
            <div class="grid-item">6</div>
            <div class="grid-item">7</div>
            <div class="grid-item">2</div>
            <div class="grid-item">5</div>
            <div class="grid-item">8</div>
            <div class="grid-item">3</div>
            <div class="grid-item">4</div>
            <div class="grid-item">9</div>
        </div>
    </div>
        </div>
    <input type="submit" name="submit_button" value="Preview">
    <br><br>
</div>
</form>
</body>
</html>
